### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
### Flutter ###
/build/
.dart_tool/
.flutter-plugins-dependencies

### web-admin (React admin dashboard) ###
web-admin/node_modules/
web-admin/dist/
web-admin/.env.local
web-admin/serviceAccount.json
